function Main.main 4
push constant 100
push constant 80
push constant 1
call Enemy.new 3
pop local 0
push constant 150
push constant 80
push constant 1
call Enemy.new 3
pop local 1
push constant 200
push constant 80
push constant 1
call Enemy.new 3
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 3
push constant 8
lt
not
if-goto WHILE_END0
push local 0
call Enemy.move 1
pop temp 0
push local 1
call Enemy.move 1
pop temp 0
push local 2
call Enemy.move 1
pop temp 0
push local 3
push constant 1
add
pop local 3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
