function Main.main 3
push constant 5
call Array.new 1
pop local 2
push constant 0
push local 2
add
push constant 80
push constant 82
call Jet.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push constant 80
push constant 182
call Jet.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 2
add
push constant 80
push constant 282
call Jet.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
pop pointer 1
push that 0
call Output.printString 1
pop temp 0
push constant 0
push local 2
add
pop pointer 1
push that 0
pop local 0
push local 0
call Jet.move_down 1
pop temp 0
push constant 0
return
